@model IEnumerable<TravelBlog.Models.Experience>

@{
    ViewData["Title"] = "Travel Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Travel Blog</h2>
<h4>What I Have Done and Seen</h4>
<p>Click on a story to read about my experience.</p>

<p>@Html.ActionLink("Post a New Experience", "Create")</p>
<p>Html.DisplayNameFor(model => model.Location.City)</p>


@foreach (var listexp in Model)
{
    <h3>@Html.DisplayFor(modelItem => listexp.Title)</h3><h4>in <em>@Html.DisplayFor(modelItem => listexp.Location.City)</em></h4>

            <p> @Html.ActionLink("Story", "Details", new { id = listexp.ExperienceId }) | @Html.ActionLink("Edit", "Update", new { id = listexp.ExperienceId }) | @Html.ActionLink("Delete", "Delete", new { id = listexp.ExperienceId }) </p>

}
