@model TravelBlog.Models.Location

<h2>@Html.DisplayNameFor(model => model.City) : <em>@Html.DisplayFor(model => model.City)</em></h2>

<h2>@Html.DisplayNameFor(model => model.Country) : <em>@Html.DisplayFor(model => model.Country)</em></h2>

<h4>@Html.ActionLink("Home", "Index")</h4>