@model IEnumerable<TravelBlog.Models.Location>

@{
    ViewData["Title"] = "Travel Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Travel Blog</h2>
<h4>What I Have Done and Seen</h4>
<p>Click on a place to see what my experiences were and who I have been able to adventur with.</p>
<p>@Html.ActionLink("Add a Passport Stamp", "Create")</p>
<hr />
<hr />

@foreach (var listLoc in Model)
{
    <h2>
        <em>
            @Html.DisplayFor(modelItem => listLoc.City),
        </em> @Html.DisplayFor(modelItem => listLoc.Country)
    </h2>
    <p>@Html.ActionLink("Details", "Details", new { id = listLoc.LocationId })</p>
    <p>@Html.ActionLink("Edit", "Update", new { id = listLoc.LocationId })</p>
    <p>@Html.ActionLink("Delete", "Delete", new { id = listLoc.LocationId })</p>
    <hr />
}


